body {
  color: #67c750;
  background-color: #d1e3cc;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h2 {
  text-align: center;
}

.line {
  width: 70%;
  height: 1px;
  background-color: #67c750;
  margin: 50px auto;
  box-shadow: 2px 2px 8px #5f665d;
  opacity: 0.7;
}
